@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Space+Grotesk:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-animation {
    border: none;
    font-size: 30px;
    padding: 20px 40px;
    cursor: pointer;
    transform: all 0.3s;
    position: relative;
}

.outline-animation:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    left: -10px;
    border-top: 2px solid #261D11;
    border-left: 2px solid #261D11;
    transition: all 0.25s;
}

.outline-animation:hover:before,
.outline-animation:hover:after {
    width: 50%;
    height: 50%;
}

.outline-animation:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 2px solid #261D11;
    border-right: 2px solid #261D11;
    transition: all 0.30s;
}